@media (min-width: 768px) {
    /* ---- global styles ---- */
    /* ---- upper navigation styles ---- */
    header .upper-navigation {
        text-align: left;
    }
    header .upper-navigation p {
        float: left;
    }
    header .upper-navigation .social {
        float: right;
    }
    /* ---- mid navigation styles ---- */
    header .mid-navigation .info {
        display: none;
        margin-top: 30px;
        transform: translateX(-5%);
    }
    /* ---- main navigation styles ---- */
    header .navbar-default .navbar-collapse {
        width: 100vw;
    }
}

@media (min-width: 992px) {
    /* ---- global styles ---- */
    /* ---- upper navigation styles ---- */
    /* ---- mid navigation styles ---- */
    header .mid-navigation .info {
        display: inline-block;
        transform: translateY(-24px);
    }
    header .mid-navigation .cart {
        top: 24px;
    }
    header .mid-navigation .info-open {
        display: none;
    }
    /* ---- main navigation styles ---- */
    header .navbar-default {
        height: 60px;
    }
    header .navbar-default .navbar-nav {
        padding: 0;
    }
    header .navbar-default .navbar-nav>li a {
        margin-left: 0;
    }
    header .navbar-default .navbar-collapse {
        display: inline-block !important;
        width: auto;
    }
    header .navbar-default .appointment {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 17.8px;
    }
    header .navbar-default .navbar-nav>li {
        margin-right: 8px;
    }
    header .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    header .navbar-default .navbar-nav .open .dropdown-menu {
        background-color: #1377c5;
    }
    header .dropdown-menu>li>a:hover, header .dropdown-menu>li>a:focus {
        background-color: #0a68b1;
    }
}

@media (min-width: 1200px) {
    /* ---- global styles ---- */
    /* ---- upper navigation styles ---- */
    /* ---- mid navigation styles ---- */
    header .mid-navigation .logo img {
        width: auto;
    }
    /* ---- main navigation styles ---- */
    header .navbar-default .appointment {
        margin-left: 49.8px;
    }
    header .navbar-default .navbar-nav>li {
        margin-right: 32px;
    }
}
