@media (min-width: 768px) {
    /* ---- global styles ---- */
    #myModal form .form-feedback {
        height: 24px;
    }
    /* ---- upper navigation styles ---- */
    header .upper-navigation {
        text-align: left;
    }
    header .upper-navigation p {
        float: left;
    }
    header .upper-navigation .social {
        float: right;
    }
    /* ---- mid navigation styles ---- */
    header .mid-navigation .info {
        display: none;
        margin-top: 30px;
        transform: translateX(-5%);
    }
    /* ---- main navigation styles ---- */
    header .navbar-default .navbar-collapse {
        width: 100vw;
    }
    /* ---- banner styles ---- */
    .banner .bxslider li .slider-content {
        top: 10%;
    }
    .banner li .slider-content h1 {
        font-size: 36px;
        margin-bottom: 30px;
    }
    .banner li .slider-content h4 {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .banner li .slider-content .btn {
        width: 150px;
        font-size: 15px;
        height: 45px;
        line-height: 33px;
    }
    .banner .bxslider li .slider-content p {
        margin-bottom: 30px;
    }
    .banner .bxslider li .slider-content-01 h4 {
        text-align: right;
        display: inline-block;
        padding: 0 10px;
        height: 48px;
        line-height: 48px;
    }
    /* ---- intro styles ---- */
    .intro .container {
        max-width: 750px;
    }
    /* ---- schedule styles ---- */
    .schedule .get-appointment .form-feedback {
        height: auto;
    }
    /* ---- services styles ---- */
    .services .nav-tabs {
        float: left;
    }
    .services .tab-content {
        float: left;
        width: 61%;
    }
    /* ---- visit store styles ---- */
    .visit-store .store-text {
        margin-bottom: 0;
    }
    .visit-store a {
        float: right;
    }
    /* ---- why choose us styles ---- */
}

@media (min-width: 992px) {
    /* ---- global styles ---- */
    /* ---- upper navigation styles ---- */
    /* ---- mid navigation styles ---- */
    header .mid-navigation .info {
        display: inline-block;
        transform: translateY(-24px);
    }
    header .mid-navigation .cart {
        top: 24px;
    }
    header .mid-navigation .info-open {
        display: none;
    }
    /* ---- main navigation styles ---- */
    header .navbar-default {
        height: 60px;
    }
    header .navbar-default .navbar-nav {
        padding: 0;
    }
    header .navbar-default .navbar-nav>li a {
        margin-left: 0;
    }
    header .navbar-default .navbar-collapse {
        display: inline-block !important;
        width: auto;
    }
    header .navbar-default .appointment {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 17.8px;
    }
    header .navbar-default .navbar-nav>li {
        margin-right: 8px;
    }
    header .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    header .navbar-default .navbar-nav .open .dropdown-menu {
        background-color: #1377c5;
    }
    header .dropdown-menu>li>a:hover, header .dropdown-menu>li>a:focus {
        background-color: #0a68b1;
    }
    /* ---- banner styles ---- */
    .banner .bxslider li .slider-content {
        top: 20%;
    }
    .banner li .slider-content h1 {
        font-size: 54px;
        margin-bottom: 40px;
    }
    .banner li .slider-content h4 {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .banner .bxslider li .slider-content p {
        margin-bottom: 40px;
    }
    .banner .bxslider li .slider-content-01 h4 {
        height: 54px;
        line-height: 54px;
    }
    /* ---- intro styles ---- */
    .intro .container {
        max-width: 970px;
    }
    /* ---- schedule styles ---- */
    /* ---- services styles ---- */
    /* ---- visit store styles ---- */
    /* ---- why choose us styles ---- */
    .why-choose-us article h3 {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    /* ---- global styles ---- */
    /* ---- upper navigation styles ---- */
    /* ---- mid navigation styles ---- */
    header .mid-navigation .logo img {
        width: auto;
    }
    /* ---- main navigation styles ---- */
    header .navbar-default .appointment {
        margin-left: 49.8px;
    }
    header .navbar-default .navbar-nav>li {
        margin-right: 32px;
    }
    /* ---- banner styles ---- */
    /* ---- intro styles ---- */
    .intro {
        padding: 100px 0;
    }
    .intro .container {
        max-width: 1170px;
    }
    .intro article {
        margin-bottom: 0;
    }
    .intro article .content {
        position: absolute;
        top: 25px;
        left: 25px;
        right: 25px;
        z-index: 100;
    }
    .intro article .intro-icon {
        left: 25px;
        top: 40%;
    }
    .intro article p:first-of-type {
        padding-bottom: 20px;
    }
    .intro article p:nth-of-type(2) {
        padding: 20px 0;
        transform: translateY(50px);
    }
    .intro article:hover h2, .intro article:hover p:first-of-type {
        transform: translateX(88px);
    }
    .intro article:hover .intro-icon {
        top: 32px;
        opacity: 1;
    }
    /* ---- schedule styles ---- */
    /* ---- services styles ---- */
    .services .tab-content {
        max-width: 510px;
    }
    /* ---- visit store styles ---- */
    /* ---- why choose us styles ---- */
    .why-choose-us article h3 {
        font-size: 20px;
    }
}
